@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Oxygen:wght@300;400;700&display=swap');

.custom-body {
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}
/* Header */
#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}
.navbar-header {
    display: flex;
}
.navbar-brand {
    margin-left: 0.9rem;
    padding-top: 25px;
}
.navbar-brand h1{
    font-family: 'Lora', serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a {
    text-decoration: none;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span {
    vertical-align: middle;
}
@media (max-width:776px) {
    .navbar-header .logo {
        display: none;
    }
    #header-nav {
        position: relative;
        height: 12vh;
    }
    .navbar-brand{
        margin-bottom: 1rem;
    }
    .navbar-brand h1{
        font-size: 1rem;
        position: absolute;
        left: 0.6rem;
    }
    .navbar-brand p{
        font-size: 0.8rem;
        position: absolute;
        left: 0.6rem;
    }
    .offcanvas-body ul li a {
        color: #ffffff;
    }
    .offcanvas-body ul li span {
        display: none;
    }
    .offcanvas-body ul li #number {
        display: block;
    }
}
@media(min-width:992px) {
    .navbar-toggler {
        display: none;
    }
    #navbar .navbar-nav {
        display: flex;
        list-style: none;
        color: #000;
    } 
    
    #navbar .navbar-nav li {
        margin: 1.5rem;
    } 
}